In [1]:
#Import Dependencies
import os
import pandas as pd

In [2]:
#Assign name to marriage rate file
mrcsv = "Marriage_Rates.csv"

In [3]:
#Assign names to religious census files
rel1990csv = "Religion-1990.csv"
rel2000csv = "Religion-2000.csv"
rel2010csv = "Religion-2010.csv"

In [4]:
# Load in csv files
mr_df = pd.read_csv(mrcsv, encoding="ISO-8859-1")
rel1990_df = pd.read_csv(rel1990csv, encoding="ISO-8859-1")
rel2000_df = pd.read_csv(rel2000csv, encoding="ISO-8859-1")
rel2010_df = pd.read_csv(rel2010csv, encoding="ISO-8859-1")

In [5]:
#Data cleaning step: Retain only the columns we will use for the analysis
mr_df_2 = mr_df[["State","1990","2000","2010"]]

In [6]:
#Data cleaning step: Retain only the columns we will use for the analysis
rel1990_df_2 = rel1990_df[["State","Adherents %"]]
rel2000_df_2 = rel2000_df[["State","Adherents %"]]
rel2010_df_2 = rel2010_df[["State","Adherents %"]]

In [7]:
#Verify data cleaning step
mr_df_2.head()

        State  1990  2000  2010
0     Alabama  10.6  10.1   8.2
1      Alaska  10.2   8.9   8.0
2     Arizona  10.0   7.5   5.9
3    Arkansas  15.3  15.4  10.8
4  California   7.9   5.8   5.8

In [8]:
#Verify data cleaning step
rel1990_df_2.head()

        State  Adherents %
0     Alabama         71.0
1      Alaska         32.2
2     Arizona         43.0
3    Arkansas         60.6
4  California         42.3

In [9]:
#Verify data cleaning step
rel2000_df_2.head()

        State  Adherents %
0     Alabama         54.8
1      Alaska         34.3
2     Arizona         39.9
3    Arkansas         57.1
4  California         46.1

In [10]:
#Verify data cleaning step
rel2010_df_2.head()

        State  Adherents %
0     Alabama         62.9
1      Alaska         33.9
2     Arizona         37.2
3    Arkansas         55.4
4  California         45.0

In [14]:
# Space for viewing dataframe columns, counts for comparing dataframes
print("Marriage Rate Data:")
print(mr_df_2.count())
print("-----------------")
print("Religious Census 2010:")
print(rel2010_df_2.count())
print("-----------------")
print("Religious Census 2000:")
print(rel2000_df_2.count())
print("-----------------")
print("Religious Census 1990:")
print(rel1990_df_2.count())

Marriage Rate Data:
State    51
1990     51
2000     50
2010     51
dtype: int64
-----------------
Religious Census 2010:
State          53
Adherents %    51
dtype: int64
-----------------
Religious Census 2000:
State          53
Adherents %    51
dtype: int64
-----------------
Religious Census 1990:
State          53
Adherents %    51
dtype: int64

In [15]:
# Rename Adherents % column to include year
rel2010_df_2 = rel2010_df_2.rename(columns={"Adherents %":"2010 Adherents %"})
rel2000_df_2 = rel2000_df_2.rename(columns={"Adherents %":"2000 Adherents %"})
rel1990_df_2 = rel1990_df_2.rename(columns={"Adherents %":"1990 Adherents %"})

In [16]:
# Merge 2000 and 2010 dataframes
rel_2000_2010 = pd.merge(rel2000_df_2, rel2010_df_2, on="State")
rel_2000_2010.head()

        State  2000 Adherents %  2010 Adherents %
0     Alabama              54.8              62.9
1      Alaska              34.3              33.9
2     Arizona              39.9              37.2
3    Arkansas              57.1              55.4
4  California              46.1              45.0

In [17]:
# Merge 1990 with 2000/2010 dataframes
rel_1990_2010 = pd.merge(rel1990_df_2, rel_2000_2010, on="State")
rel_1990_2010.head()

        State  1990 Adherents %  2000 Adherents %  2010 Adherents %
0     Alabama              71.0              54.8              62.9
1      Alaska              32.2              34.3              33.9
2     Arizona              43.0              39.9              37.2
3    Arkansas              60.6              57.1              55.4
4  California              42.3              46.1              45.0

In [18]:
# Clean data by removing NaN rows, and outliers

# Remove Nan rows from Religious dataframes
rel_2000_2010 = rel_2000_2010.dropna(how="any")
rel_1990_2010 = rel_1990_2010.dropna(how="any")

# Remove Oklahoma from Marriage Rate dataframe due to NaN
mr_df_2 = mr_df_2.dropna(how="any")

# Remove Oklahoma from Religious dataframe
rel_2000_2010 = rel_2000_2010.drop(index=36)
rel_1990_2010 = rel_1990_2010.drop(index=36)


# Remove Nevada as outlier from Marriage Rate, and Religious dataframes
rel_2000_2010 = rel_2000_2010.drop(index=28)
rel_1990_2010 = rel_1990_2010.drop(index=28)
mr_df_2 = mr_df_2.drop(index=28)

# Create dataframe for Marriage Rate 2000/2010
mr_df_2000_2010 = mr_df_2.drop(columns="1990")

In [20]:
# Tables have been cleaned and row counts match up
print("Marriage Rate Data:")
print(mr_df_2.count())
print("-----------------")
print("Religious Census Data 2000 & 2010:")
print(rel_2000_2010.count())
print("-----------------")
print("Religious Census Data 1990, 2000 & 2010:")
print(rel_1990_2010.count())

Marriage Rate Data:
State    49
1990     49
2000     49
2010     49
dtype: int64
-----------------
Religious Census Data 2000 & 2010:
State               49
2000 Adherents %    49
2010 Adherents %    49
dtype: int64
-----------------
Religious Census Data 1990, 2000 & 2010:
State               49
1990 Adherents %    49
2000 Adherents %    49
2010 Adherents %    49
dtype: int64

In [17]:
# Merge Marriage Rates 1990, 2000, 2010 dataframe with Religious Census Data 1990, 2000, 2010 dataframe
mar_rel_1990_2010 = pd.merge(mr_df_2, rel_1990_2010, on="State")
mar_rel_1990_2010

,State,1990,2000,2010,1990 Adherents %,2000 Adherents %,2010 Adherents %
0,Alabama,10.6,10.1,8.2,71.0,54.8,62.9
1,Alaska,10.2,8.9,8.0,32.2,34.3,33.9
2,Arizona,10.0,7.5,5.9,43.0,39.9,37.2
3,Arkansas,15.3,15.4,10.8,60.6,57.1,55.4
4,California,7.9,5.8,5.8,42.3,46.1,45.0
5,Colorado,9.8,8.3,6.9,39.3,39.5,37.8
6,Connecticut,7.9,5.7,5.6,62.3,57.9,51.2
7,Delaware,8.4,6.5,5.2,46.0,40.6,41.8
8,District of Columbia,8.2,4.9,7.6,61.7,73.2,55.2
9,Florida,10.9,8.9,7.3,43.8,41.1,39.1
10,Georgia,10.3,6.8,7.3,57.6,44.8,50.8
11,Hawaii,16.4,20.6,17.6,35.3,36.2,41.3
12,Idaho,13.9,10.8,8.8,50.4,48.5,51.1
13,Illinois,8.8,6.9,5.7,59.9,55.3,55.3
14,Indiana,9.6,7.9,6.3,47.5,42.9,44.3
15,Iowa,9.0,6.9,6.9,60.5,58.5,53.9
16,Kansas,9.2,8.3,6.4,54.7,49.4,50.6
17,Kentucky,13.5,9.8,7.4,60.4,53.4,51.6
18,Louisiana,9.6,9.1,6.9,70.5,58.8,60.6
19,Maine,9.7,8.8,7.1,36.4,36.4,27.6
20,Maryland,9.7,7.5,5.7,48.3,43.3,41.8
21,Massachusetts,7.9,5.8,5.6,65.5,64.1,57.2
22,Michigan,8.2,6.7,5.5,50.4,41.8,42.1
23,Minnesota,7.7,6.8,5.3,64.9,61.7,56.3
24,Mississippi,9.4,6.9,4.9,70.2,54.6,58.7
25,Missouri,9.6,7.8,6.5,57.6,51.7,49.3
26,Montana,8.6,7.3,7.4,42.7,44.7,38.1
27,Nebraska,8.0,7.6,6.6,63.8,58.8,55.7
28,New Hampshire,9.5,9.4,7.3,39.5,47.7,35.2
29,New Jersey,7.6,6.0,5.1,61.3,57.7,54.7
30,New Mexico,8.8,8.0,7.7,58.7,58.2,50.1
31,New York,8.6,7.1,6.5,65.7,60.4,51.2
32,North Carolina,7.8,8.2,6.6,60.0,45.4,47.9
33,North Dakota,7.5,7.2,6.5,75.9,73.2,67.1
34,Ohio,9.0,7.8,5.8,50.1,44.9,44.0
35,Oregon,8.9,7.6,6.5,32.2,31.3,31.2
36,Pennsylvania,7.1,6.0,5.3,61.4,57.9,53.8
37,Rhode Island,8.1,7.6,5.8,76.7,63.5,54.8
38,South Carolina,15.9,10.6,7.4,61.9,47.6,52.2
39,South Dakota,11.1,9.4,7.3,68.1,67.8,58.6
40,Tennessee,13.9,15.5,8.8,61.2,51.1,55.5
41,Texas,10.5,9.4,7.1,64.1,55.5,55.7
42,Utah,11.2,10.8,8.5,79.8,74.7,79.1
43,Vermont,10.9,10.0,9.3,42.1,39.1,33.6
44,Virginia,11.4,8.8,6.8,47.9,41.6,44.8
45,Washington,9.5,6.9,6.0,33.1,33.0,34.6
46,West Virginia,7.2,8.7,6.7,41.4,35.9,35.5
47,Wisconsin,7.9,6.7,5.3,64.6,60.4,53.6
48,Wyoming,10.7,10.0,7.6,47.7,46.7,39.6

In [18]:
# Merge Marriage Rates 2000, 2010 dataframe with Religious Census Data 2000, 2010 dataframe
mar_rel_2000_2010 = pd.merge(mr_df_2000_2010, rel_2000_2010, on="State")
mar_rel_2000_2010

                   State  2000  2010  2000 Adherents %  2010 Adherents %
0                Alabama  10.1   8.2              54.8              62.9
1                 Alaska   8.9   8.0              34.3              33.9
2                Arizona   7.5   5.9              39.9              37.2
3               Arkansas  15.4  10.8              57.1              55.4
4             California   5.8   5.8              46.1              45.0
5               Colorado   8.3   6.9              39.5              37.8
6            Connecticut   5.7   5.6              57.9              51.2
7               Delaware   6.5   5.2              40.6              41.8
8   District of Columbia   4.9   7.6              73.2              55.2
9                Florida   8.9   7.3              41.1              39.1
10               Georgia   6.8   7.3              44.8              50.8
11                Hawaii  20.6  17.6              36.2              41.3
12                 Idaho  10.8   8.8              48.5              51.1
13              Illinois   6.9   5.7              55.3              55.3
14               Indiana   7.9   6.3              42.9              44.3
15                  Iowa   6.9   6.9              58.5              53.9
16                Kansas   8.3   6.4              49.4              50.6
17              Kentucky   9.8   7.4              53.4              51.6
18             Louisiana   9.1   6.9              58.8              60.6
19                 Maine   8.8   7.1              36.4              27.6
20              Maryland   7.5   5.7              43.3              41.8
21         Massachusetts   5.8   5.6              64.1              57.2
22              Michigan   6.7   5.5              41.8              42.1
23             Minnesota   6.8   5.3              61.7              56.3
24           Mississippi   6.9   4.9              54.6              58.7
25              Missouri   7.8   6.5              51.7              49.3
26               Montana   7.3   7.4              44.7              38.1
27              Nebraska   7.6   6.6              58.8              55.7
28         New Hampshire   9.4   7.3              47.7              35.2
29            New Jersey   6.0   5.1              57.7              54.7
30            New Mexico   8.0   7.7              58.2              50.1
31              New York   7.1   6.5              60.4              51.2
32        North Carolina   8.2   6.6              45.4              47.9
33          North Dakota   7.2   6.5              73.2              67.1
34                  Ohio   7.8   5.8              44.9              44.0
35                Oregon   7.6   6.5              31.3              31.2
36          Pennsylvania   6.0   5.3              57.9              53.8
37          Rhode Island   7.6   5.8              63.5              54.8
38        South Carolina  10.6   7.4              47.6              52.2
39          South Dakota   9.4   7.3              67.8              58.6
40             Tennessee  15.5   8.8              51.1              55.5
41                 Texas   9.4   7.1              55.5              55.7
42                  Utah  10.8   8.5              74.7              79.1
43               Vermont  10.0   9.3              39.1              33.6
44              Virginia   8.8   6.8              41.6              44.8
45            Washington   6.9   6.0              33.0              34.6
46         West Virginia   8.7   6.7              35.9              35.5
47             Wisconsin   6.7   5.3              60.4              53.6
48               Wyoming  10.0   7.6              46.7              39.6