In [1]:
import os
import pandas as pd

In [2]:
MRcsv = "Marriage_Rates.csv"

In [6]:
Rel1990csv = "Religion-1990.csv"
Rel2000csv = "Religion-2000.csv"
Rel2010csv = "Religion-2010.csv"

In [8]:
MR_df = pd.read_csv(MRcsv, encoding="ISO-8859-1")
Rel1990_df = pd.read_csv(Rel1990csv, encoding="ISO-8859-1")
Rel2000_df = pd.read_csv(Rel2000csv, encoding="ISO-8859-1")
Rel2010_df = pd.read_csv(Rel2010csv, encoding="ISO-8859-1")

In [10]:
MR_df_2 = MR_df[["State","1990","2000","2010"]]

In [14]:
Rel1990_df_2 = Rel1990_df[["State","Adherents %"]]
Rel2000_df_2 = Rel2000_df[["State","Adherents %"]]
Rel2010_df_2 = Rel2010_df[["State","Adherents %"]]

In [15]:
MR_df_2.head()

        State  1990  2000  2010
0     Alabama  10.6  10.1   8.2
1      Alaska  10.2   8.9   8.0
2     Arizona  10.0   7.5   5.9
3    Arkansas  15.3  15.4  10.8
4  California   7.9   5.8   5.8

In [16]:
Rel1990_df_2.head()

        State  Adherents %
0     Alabama         71.0
1      Alaska         32.2
2     Arizona         43.0
3    Arkansas         60.6
4  California         42.3

In [17]:
Rel2000_df_2.head()

        State  Adherents %
0     Alabama         54.8
1      Alaska         34.3
2     Arizona         39.9
3    Arkansas         57.1
4  California         46.1

In [18]:
Rel2010_df_2.head()

        State  Adherents %
0     Alabama         62.9
1      Alaska         33.9
2     Arizona         37.2
3    Arkansas         55.4
4  California         45.0